<%= content_for :title, ( @quote.new_record? ? "Create a new quote" : "Quote by " + @quote[ :author ] ) %>

<%= form_for( @quote, html: { class: 'form-horizontal', multipart: true } ) do |f| %>
<% if @quote.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
    <ul>
        <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<fieldset>
    <div class="control-group">
        <%= f.label :quote, class: 'control-label' %>
        <div class="controls"><%= f.text_area :quote, size: '60x5' %></div>
        </div>
    <div class="control-group">
        <%= f.label :author, class: 'control-label' %></span>
        <div class="controls"><%= f.text_field :author %></div>
    </div>
    <div class="control-group">
        <%= f.label :favorite, class: 'control-label' %></span>
        <div class="controls"><%= f.check_box :favorite %></div>
    </div>
        <% current_user.colours.each do |colour| %>
            <div class="control-group">
                <%= f.radio_button( :colour_id, colour[ :id ] ) %>
                <%= label_tag( :colour_id, colour[ :name ], class: 'control-label' ) %>
            </div>
        <% end %>
        <div class="control-group">
            Currently has audio file: <%= ( @quote.audio.exists? ?  @quote.audio.original_filename : "None") %>
            <%= f.file_field :audio %>
        </div>
        <div class="control-group">
            Currently has background: <%= ( @quote.background.exists? ? image_tag( @quote.background.url(:thumb) ) : "None" ) %>
            <%= f.file_field :background %>
        </div>
        <div class="control-group">
            <%= f.label :public, class: 'control-label' %></span>
            <div class="controls"><%= f.check_box :public %></div>
        </div>

    <div class="control-group">
        <div class="controls">
        <%= f.submit class: 'btn'  %>
        </div>
    </div>
</fieldset>
<% end %>
