<%= content_for :title, "Colours" %>
<%= content_for :background_colour, "#FFF" %>

<ul>
    <% @colours.each do |colour| %>
        <li>
            <%= link_to colour[ :name ], edit_colour_path( colour ) %> | <%= link_to 'Destroy', colour, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </tr>
    <% end %>
</ul>

<%= link_to 'New Colour', new_colour_path %>