<%= content_for :title, ( @quote.new_record? ? "Create a new quote" : "Quote by " + @quote[ :author ] ) %>
<%= form_for @quote do |f| %>
    <fieldset>
        <ol>
            <li><%= f.label :quote %><%= f.text_area :quote %></li>
            <li><%= f.label :author %><%= f.text_field :author %></li>
        </ol>
    </fieldset>
<%= f.submit %>
<% end %>
